<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
	<meta charset="utf-8">
	
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title layout:title-pattern="$LAYOUT_TITLE :: $CONTENT_TITLE">Collector</title>
	<link rel="icon" th:href="@{/dist/img/favicon.ico}"/>
	<link rel="stylesheet" th:href="@{/plugins/datatables-fixedHeader/css/datatables.css}"> <!-- fixedHeade -->
	<link rel="stylesheet" th:href="@{/webjars/font-awesome/4.7.0/css/font-awesome.min.css}">
	<link rel="stylesheet" th:href="@{/webjars/ionicons/2.0.1/css/ionicons.min.css}">
	<link rel="stylesheet" th:href="@{/plugins/tempusdominus-bootstrap-4/css/tempusdominus-bootstrap-4.min.css}">
	<link rel="stylesheet" th:href="@{/plugins/icheck-bootstrap/icheck-bootstrap.min.css}">
	<link rel="stylesheet" th:href="@{/plugins/daterangepicker/daterangepicker.css}">
	<link th:href="@{/webjars/jqueryui/1.11.1/jquery-ui.css}" rel="stylesheet" type="text/css"/>
	<link rel="stylesheet" th:href="@{/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css}">
	<link rel="stylesheet" th:href="@{/plugins/datatables-responsive/css/responsive.bootstrap4.min.css}">
	<link rel="stylesheet" th:href="@{/plugins/datatables-buttons/css/buttons.bootstrap4.min.css}">
	<link rel="stylesheet" th:href="@{/dist/css/adminlte.min.css}">
	<script th:src="@{/webjars/jquery/3.1.1/jquery.js}"></script>
    <script th:src="@{/webjars/jqueryui/1.11.1/jquery-ui.min.js}"></script>
	
	

	<!-- new Add -->
	<link rel="stylesheet" th:href="@{/dist/css/bootstrap.min.css}">
	<link rel="stylesheet" th:href="@{/dist/css/bootstrap-select.min.css}">
	<script th:src="@{/dist/js/jquery-2.1.1.min.js}"></script> 
	<script th:src="@{/dist/js/bootstrap.min.js}"></script>
	<script th:src="@{/dist/js/bootstrap-select.min.js}"></script> 
	<script th:src="@{/dist/js/jquery-ui.min.js}"></script> 
	<script type="text/javascript">
	
	
	

$(function () {
    var url = window.location;
    // for single sidebar menu
    $('ul.nav-sidebar a').filter(function () {
    	
        return this.href == url;
    }).addClass('active');

    
});
</script>
</head>

<body class="hold-transition sidebar-mini layout-fixed">
	<div class="wrapper">
		<div th:replace="~{fragments/header::main-header}"></div>	
		<aside class="main-sidebar">
			<div th:replace="~{fragments/mainsidebar::main-sidebar}"></div>
		</aside>
		<div class="content-wrapper">
			<section class="content">
				<div layout:fragment="content"></div>
			</section>
		</div>
		<br>
		<div th:replace="~{fragments/footer :: footer-main}"></div>
	</div>
	
	<script th:src="@{/plugins/datatables-fixedHeader/js/datatables.js}"></script> <!-- fixedHeade -->
	<script th:src="@{/plugins/datatables-fixedHeader/js/datatables.min.js}"></script> <!-- fixedHeade -->
	
	<script th:href="@{/plugins/jquery/jquery.min.js}"></script>
	<script th:href="@{/plugins/jquery-ui/jquery-ui.min.js}"></script>
	<script th:src="@{/plugins/bootstrap/js/bootstrap.bundle.min.js}"></script>
	<script th:src="@{/plugins/daterangepicker/daterangepicker.js}"></script>
	<script th:src="@{/plugins/overlayScrollbars/js/jquery.overlayScrollbars.min.js}"></script>
	<script th:src="@{/dist/js/adminlte.js}"></script>
	<script th:src="@{/plugins/bootstrap/js/bootstrap.bundle.min.js}"></script>
	<script th:src="@{/plugins/datatables/jquery.dataTables.min.js}"></script><!-- Add -->
	<script th:src="@{/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js}"></script>
	 <script th:src="@{/plugins/datatables-responsive/js/dataTables.responsive.min.js}"></script> 
	<script th:src="@{/plugins/datatables-buttons/js/dataTables.buttons.min.js}"></script>
	<script th:src="@{/plugins/datatables-buttons/js/buttons.bootstrap4.min.js}"></script>
	<script th:src="@{/plugins/jszip/jszip.min.js}"></script><!-- add -->
	<script th:src="@{/plugins/pdfmake/pdfmake.min.js}"></script>
	<script th:src="@{/plugins/pdfmake/vfs_fonts.js}"></script>
	<script th:src="@{/plugins/datatables-buttons/js/buttons.html5.min.js}"></script>
	<script th:src="@{/plugins/datatables-buttons/js/buttons.print.min.js}"></script>
	<script th:src="@{/plugins/datatables-buttons/js/buttons.colVis.min.js}"></script>
	<div layout:fragment="custom-js"></div>
	
	
</body>

</html>

